{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{%static '/images/favicon.ico'%}"/>
    <link rel="stylesheet" href="{%static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/login.css' %}"/>
    <title>Developer's Club</title>
</head>
<body>
    <form method="post" action="{%url 'register'%}">{%csrf_token%}
        {{form.as_p}}
        <button type="submit">SignUp</button>
    </form>
    <!-- <div>
        <form>{%csrf_token%}
            <label>{{form.name.label_tag}}</label>
        </form>
    </div> -->

</body>
</html>